<style>
    .navbar-nav {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 80%;
    text-align: center;
    }

    .navbar-nav > li {
    display: inline-block;
    margin-left: 30px;
    }

    .navbar-nav > li:first-child {
    margin-left: 290px;
    }

    /* Set text color to black */
    .navbar-default .navbar-nav > li > a {
    color: black;
    }

  </style>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
        
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="page-scroll" href="#about">about</a>
            </li>
            <li>
                <a class="page-scroll"  href="#projects">projects</a>
            </li>

            <li>
                <a class="page-scroll" href="#team">team</a>
            </li>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<!--
    {% for page in site.pages %}
      {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
-->
